<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-button>
    <ion-title>Votaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="6">
      <ion-button (click)="botonApruebo()" color="success">
        <ion-icon name="checkmark-outline"></ion-icon>
        Apruebo
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button (click)="botonRechazo()" color="danger">
        <ion-icon name="close-outline"></ion-icon>
        Rechazo
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-button (click)="botonOtro()" color="warning" expand="block" shape="round">
    <ion-icon name="square-outline"></ion-icon>
    Nulo o Blanco
  </ion-button>

  <br>
  <br>
  <br>
  <h1 id="resultado">Resultados</h1>
  <ion-row>
    <ion-col size="6">Apruebo</ion-col>
    <ion-col size="6">:{{ apruebo }}</ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">Rechazo</ion-col>
    <ion-col size="6">:{{ rechazo }}</ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">Nulo/Blanco</ion-col>
    <ion-col size="6">:{{ otro }}</ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">Total votos</ion-col>
    <ion-col size="6">:{{ apruebo+rechazo+otro }}</ion-col>
  </ion-row>


</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Resultados</ion-title>
  </ion-toolbar>
</ion-footer>